<div id="sidenav" class="sidenav">

    <a href="index.html">Home</a>
    <a href="0.html">Section 0: What is an Admin?</a>
    <div class="subnav">
        <a href="0.html#what-are-the-responsibilities-of-administrators">What are the responsibilities of
            administrators?</a>
        <a href="0.html#how-does-this-differ-from-other-staff-positions">How does this differ from other staff
            positions?</a>
        <a href="0.html#the-purpose-of-this-handbook">The purpose of this handbook</a>
    </div>

    <a href="1.html">Section 1: Minecraft Commands</a>
    <div class="subnav">
        <a href="1.html#notation-guide">Notation Guide</a>
        <a href="1.html#target-selectors">Target Selectors</a>
        <a href="1.html#important-commands">Important Commands</a>
        <div class="subsubnav">
            <a href="1.html#ban--ban-ip-player-reason">/ban</a>
            <a href="1.html#clear-selector-item-amount">/clear</a>
            <a href="1.html#datapack-disable--enable--list-name">/datapack</a>
            <a href="1.html#execute-subcommands-run-command">/execute</a>
            <a href="1.html#give-selector-itemnbt">/give</a>
            <a href="1.html#kick-player-reason">/kick</a>
            <a href="1.html#pardon--pardon-ip-player">/pardon</a>
            <a href="1.html#scoreboard-objective--players-add--enable--get--list--modify--operation--remove--set--setdisplay-">/scoreboard</a>
            <a href="1.html#summon-entity-posx-posy-posz-nbt">/summon</a>
            <a href="1.html#tellraw-selector-string-or-json">/tellraw</a>
            <a href="1.html#whitelist-add--on--off--reload--remove-player">/whitelist</a>
        </div>
    </div>

    <a href="2.html">Section 2: Server Commands</a>
    <div class="subnav">
        <a href="2.html#coreprotect">CoreProtect</a>
        <a href="2.html#dreamvisitor">Dreamvisitor</a>
        <div class="subsubnav">
            <a href="2.html#item-blacklist">Item Blacklist</a>
            <a href="2.html#soft-whitelist">Soft Whitelist</a>
            <a href="2.html#sandbox-mode">Sandbox Mode</a>
            <a href="2.html#pause-chat">Pause Chat</a>
            <a href="2.html#moon-globes">Moon Globes</a>
            <a href="2.html#alt-tracker">Alt Tracker</a>
            <a href="2.html#infraction-tracker">Infraction Tracker</a>
            <a href="2.html#mail-system">Mail System</a>
            <a href="2.html#discord-economy">Discord Economy</a>
        </div>
        <a href="2.html#essentialsx">EssentialsX</a>
        <div class="subsubnav">
            <a href="2.html#powertools">Powertools</a>
        </div>
        <a href="2.html#eye-of-onyx">Eye of Onyx</a>
        <a href="2.html#griefdefender">GriefDefender</a>
        <div class="subsubnav">
            <a href="2.html#griefdefender-commands">Commands</a>
            <a href="2.html#claim-types">Claim Types</a>
            <a href="2.html#trust-types">Trust Types</a>
        </div>
        <a href="2.html#luckperms">LuckPerms</a>
        <a href="2.html#signshop">SignShop</a>
        <a href="2.html#spark">spark</a>
        <a href="2.html#worldedit">WorldEdit</a>
        <div class="subsubnav">
            <a href="2.html#basic-commands">Basic Commands</a>
            <a href="2.html#tool-commands">Tool Commands</a>
            <a href="2.html#generation-commands">Generation Commands</a>
            <a href="2.html#brush-commands">Brush Commands</a>
            <a href="2.html#flags">Flags</a>
        </div>
        <a href="2.html#worldguard">WorldGuard</a>
        <div class="subsubnav">
            <a href="2.html#commands">Commands</a>
            <a href="2.html#flags-1">Flags</a>
        </div>
    </div>

    <a href="3.html">Section 3: Navigating Discord</a>
    <div class="subnav">
        <a href="3.html#bots">Bots</a>
        <div class="subsubnav">
            <a href="3.html#tupperbox">Tupperbox</a>
            <a href="3.html#chip">Chip</a>
            <a href="3.html#tickets">Tickets</a>
            <a href="3.html#zira">Zira</a>
            <a href="3.html#circle">Circle</a>
            <a href="3.html#pluralkit">PluralKit</a>
            <a href="3.html#dreamvisitor">Dreamvisitor</a>
        </div>
        <a href="3.html#channels">Channels</a>
        <a href="3.html#roles">Roles</a>
        <a href="3.html#stages--events">Stages & Events</a>
    </div>

    <a href="4.html">Section 4: Royalty</a>
    <div class="subnav">
        <a href="4.html#challenge-handshakes">Challenge Handshakes</a>
        <a href="4.html#royalty-management">Royalty Management</a>
    </div>

    <a href="5.html">Section 5: Project Management</a>
    <div class="subnav">
        <a href="5.html#documentation-and-tracking">Documentation and Tracking</a>
        <a href="5.html#time-management">Time Management</a>
        <a href="5.html#communication">Communication</a>
        <a href="5.html#respect-and-professionalism">Respect and Professionalism</a>
        <a href="5.html#tracking-a-project">Tracking a Project</a>
        <a href="5.html#operations-activities">Operations Activities</a>
        <a href="5.html#project-retrospectives">Project Retrospectives</a>
    </div>

    <a href="6.html">Section 6: Personal Responsibility</a>
    <div class="subnav">
        <a href="6.html#security">Security</a>
        <a href="6.html#engaging-in-a-community">Engaging in a Community</a>
    </div>

    <br>
</div>